<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor, Version=2.5.1.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" />
  </configSections>
  <castle>
    <components>
      <component id="IAccountRepository" service="LoggingDemo.Repository.IAccountRepository, LoggingDemo.Repository" type="LoggingDemo.Tests.Integration.FakeAccountRepository, LoggingDemo.Tests.Integration" />
      <component id="ITransactionsRepository" service="LoggingDemo.Repository.ITransactionsRepository, LoggingDemo.Repository" type="LoggingDemo.Tests.Integration.FakeTransactionsRepository, LoggingDemo.Tests.Integration" />
      <component id="IPaymentGateway" service="LoggingDemo.Repository.IPaymentGateway, LoggingDemo.Repository" type="LoggingDemo.Tests.Integration.FakePaymentGateway, LoggingDemo.Tests.Integration" />
    </components>
  </castle>
</configuration>